* {
    background-color: black;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.pages {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 14px;
}
.page {
    width: 104px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.page button {
    font-size: 18px;
    color: #B3B3B2;
    border-style: none;
}
.page:hover {
    background-color: #333333;
    transform: scale(1.08);
}
.logo {
    color: white;
    font-size: 25px;
}
.purchase {
    display: flex;
    align-items: center;
    gap: 6px;
}
.btn img{
    width: 40px;
    height: 40px;
}
.contact {
    width: 136px;
    height: 40px;
    border-radius: 10px;
    transition: all 0.3s ease;
    border-style: none;
}
.contact{
    font-size: 18px;
    color: #B3B3B2;
}
.contact:hover {
    background-color: #AE9B84;
    color: black;
}
.first_section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 30px;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    padding: 30px;
    border: 2px dashed #262626;
    margin: 20px;
}
.right_side{
    display: flex;
    flex-direction: column;
    gap:30px;
}

.left_side {
    max-width: 45%;
}
.categories {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.categories p {
    padding: 6px 16px;
    border: 1px dashed #333;
    border-radius: 12px;
    font-size: 14px;
    color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.categories p:hover {
    background-color: #1a1a1a;
}

.title h1 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 16px;
    color: white;
}
.title p {
    font-size: 18px;
    color: #676665;
    max-width: 400px;
}

.right_side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px dashed #262626;
}

.stat {
    padding: 30px;
    border: 1px dashed #262626;
}

.stat h2 {
    font-size: 45px;
    margin-bottom: 6px;
    color: white;
}

.stat p {
    font-size: 18px;
    color: #81807E;
}